In [9]:
import pandas as pd
import numpy as np
import random

### Customer ID

In [10]:
customer_id = list(range(100))

### Customer Segment

In [11]:
segments = ['Travel', 'Food', 'Banking', 'War', 'Lifestyle', 'Hacking']
cities = ['Mumbai', 'Delhi', 'Jaipur', 'Pune', 'Chennai', 'Bangalore', 'Mysore', 'Chandigarh', 'Jodhpur']
ages = ['20-25', '25-30', '30-35', '35-40', '40-45', '45-50', '50-55', '55-60', '60-65', '65-70']

In [12]:
arpu = []
internet_usage = []
voice_usage = []
sms_usage = []
customer_segment = []
gender = []
locations = []
age = []
churn = []
for _ in range(10000):
    arpu.append(np.random.randint(100, 500))
    internet_usage.append(np.random.randint(100, 500))
    voice_usage.append(np.random.randint(100, 500))
    sms_usage.append(np.random.randint(100, 500))
    customer_segment.append(random.choice(segments))
    gender.append(random.choice(['M', 'F']))
    locations.append(random.choice(cities))
    age.append(random.choice(ages))
    churn.append(np.random.randint(0, 100))

In [13]:
df_dict = {'ARPU': arpu, 'Internet Usage': internet_usage, 'Voice Usage': voice_usage, 'SMS Usage': sms_usage, 
           'Customer Segment': customer_segment, 'Gender': gender, 'Location': locations, 'Age': age, 'Churn': churn}

In [14]:
df = pd.DataFrame.from_dict(df_dict)

In [15]:
df.head()

,ARPU,Internet Usage,Voice Usage,SMS Usage,Customer Segment,Gender,Location,Age,Churn
0,471,313,394,261,War,F,Chandigarh,65-70,53
1,158,366,176,136,War,F,Pune,55-60,84
2,449,231,329,339,War,F,Jaipur,45-50,59
3,102,324,343,195,Food,M,Delhi,35-40,9
4,357,364,280,468,War,M,Chandigarh,25-30,4

In [16]:
df.to_csv('./sample_plotting.csv', index=False)

In [20]:
list(df['Customer Segment'].unique())

['War', 'Food', 'Banking', 'Lifestyle', 'Travel', 'Hacking']